<div class="container-fluid">
  <!--  start container -->
  <div class="col-xl-10 col-12 mx-auto">
    <div class="row">
      <div class="col-lg-12 col-md-8 mx-auto"> <!-- Information container -->
        <div class="row">
          <div class="col-auto mb-4">
            <span class="sequence-element fizz">Fizz</span> Divisible by 3
          </div>
          <div class="col-auto mb-4">
            <span class="sequence-element buzz">Buzz</span> Divisible by 5
          </div>
          <div class="col-auto mb-4">
            <span class="sequence-element fizzbuzz">FizzBuzz</span> Divisible by 3 and 5
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-12 mx-auto">
        <div class="card">
          <!--  start card -->
          <h4 class="text-center mb-3">
            Check number
          </h4>
          <div class="col-12">
            <div class="row">
              <form #f="ngForm" (ngSubmit)="sendElement(f)" class="col-12">
                <!-- starts form -->
                <div class="row">
                  <div class="col-md-9">
                    <input type="number" min="1" pattern="[0-9]*" class="form-control" id="number" required ngModel
                      name="number" #number="ngModel" placeholder="Insert a number" (ngModelChange)="submitted_number = false;">
                    <div *ngIf="number.invalid && (number.dirty || number.touched) && number.errors" 
                      class="alert alert-danger"> <!-- Print errors -->
                      <div *ngIf="number.errors.required" role="alert">
                        The number is required.
                      </div>
                      <div *ngIf="number.errors.pattern" role="alert">
                        Only cardinal numbers
                      </div>
                      <div *ngIf="number.errors.incorrect">
                        Could be greater than 0
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button class="btn send w-100 mt-3 mt-md-0">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf="number.valid && element && submitted_number" class="row"> <!--Validate the condition before print the information-->
              <div class="col-12 mt-5">
                <p> The number {{number.value}} is <span
                    class="sequence-element {{ element | lowercase}}">{{element}}</span> </p> <!-- Print element with the correct class -->
              </div>
            </div>
          </div>
          <!--  end card -->
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-12 mx-auto  mt-3 mt-md-4 mt-lg-0">
        <div class="card">
          <!--  start card -->
          <h4 class="text-center mb-3">
            Get fizzbuzz sequence
          </h4>
          <div class="col-12">
            <div class="row">
              <form #g="ngForm" (ngSubmit)="sendNumber(g)" class="col-12">
                <!-- starts form -->
                <div class="row">
                  <div class="col-md-9">
                    <input type="number"  class="form-control" id="number_sequence" required pattern="[0-9]*" min="1" ngModel
                      name="number_sequence" #number_sequence="ngModel" (ngModelChange)="submitted_sequence = false"
                      placeholder="Insert the limit number of the sequence">
                    <div
                      *ngIf="number_sequence.invalid && (number_sequence.dirty || number_sequence.touched) && number_sequence.errors"
                      class="alert alert-danger"> <!-- Print errors -->
                      <div *ngIf="number_sequence.errors.required">
                        The number is required.
                      </div>
                      <div *ngIf="number_sequence.errors.pattern">
                        Only cardinal numbers
                      </div>
                      <div *ngIf="number_sequence.errors.incorrect">
                        Could be greater than 0
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button class="btn send w-100 mt-3 mt-md-0">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="row justify-content-between" *ngIf="number_sequence.valid && sequence && submitted_sequence"> <!--Validate the condition before print the information-->
              <div class="col-12 mt-3">
                <p> The result is:</p>
              </div>
              <div class="elements-sequence col-12">
                <div class="row">
                  <div class="col-auto" *ngFor="let item of sequence; let indx =index;"> <!--Iterate all the items to print-->
                    <div class="sequence-element {{ item | lowercase}}">
                      <span>
                        {{item}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  end card -->
        </div>
      </div>
    </div>
  </div>
  <!--  start container -->
</div>